@use "sass:color";

$primary-color: #fff;
$secondary-color: #d50032;
$show-home-image: true;
$home-image: url(../img/me_working.JPG);
$background-opacity: 0.8;

@function set-text-color($color) {
    @if (color.channel($color, "lightness", $space: hsl) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin easeOut{
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            min-height: 100vh;

            &:after {
                content:'';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}

// Media Query mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and 
    (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}

@font-face {
    font-family: 'PIXELIFY_SANS';
    src: url('../fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf');
}