@use "sass:color";
@use "config";
// Menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include config.easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include config.easeOut;
    }

    // Rotate into X with menu lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // line 1 - rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            // line 2 - hide
            &:nth-child(2) {
                opacity: 0;
            }
            // line 3 - rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -5px);
            }
        }
    }
}

// Menu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    //opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: rgba(color.adjust(config.$primary-color, $lightness: -7%), 0.9);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include config.easeOut;

        &.show {
            // Slide in from the top
            transform: translate3d(0,0,0);
        }
    }

    // Brading side
    &-branding {
        background: rgba(config.$primary-color, 0.9);
        @include config.easeOut;
        transform: translate3d(0,100%,0);

        &.show {
            // Slide in from the bottom
            transform: translate3d(0,0,0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/portrait.jpg');
            border-radius: 50%;
            border: solid 3px config.$secondary-color;
            background-position: center center;
            background-size: 100%;
        }
    }

    .nav-item {
        transform: translate3d(600px,0,0);
        @include config.easeOut;

        &.show {
            // Slide in from right
            transform: translate3d(0,0,0);
        }

        &.current > a {
            color: config.$secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        @include config.easeOut;

        &:hover {
            color: config.$secondary-color;
        }
    }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
    // this goes through every element
    .nav-item:nth-child(#{$x}) {
        // the * 0.1s lets each item have a slightly longer
        // delay than the previous item, creating the
        // sequential slide in effect you can see
        transition-delay: $x * 0.1s;
    }
} 