@use "sass:color";
@use "config";
// Widescreens
@include config.mediaXl {
    main {
        .lg-heading {
            font-size: 6rem;
        }
    }
    
}

// Desktops & Laptops
@include config.mediaLg {
    main {
        .lg-heading {
            font-size: 6rem;
        }
    }

}

// Tablets & Small Laptops
@include config.mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 4rem;
        }

        .sm-heading {
            font-size: 1.5rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
        
        .portrait {
            background: url('../img/portrait_small.jpg');
            width: 0px;
            height: 0px;
            background-position: center center;
            background-size: 100%;
        }
    }
}

// Phones
@include config.mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }
}