@use "sass:color";
@use "config";
@use "menu";

* {
    box-sizing: border-box;
}

body {
    @include config.background;
    background: config.$primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(color.adjust(config.$primary-color, $lightness: 2%), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: config.$secondary-color;
}

main {
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: config.$secondary-color;
                @include config.easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}